/* OUR CLIENTS */
.clients-section {
    padding: 94px 0;
}

.clients-list {
    display: flex;
}

.client-item {
    display: flex;
    width: calc((100% - 150px) / 6);
}

.client-link {
    display: flex;
    flex-grow: 1;

    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    fill: #afb1b8;

    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-link:hover,
.client-link:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
}